Rules:
Both players (you and the CPU) are randomly dealt 4 cards
You (the player) try to make the number 24 by combining the numbers of the cards you received
Special numbers: Ace = 1, Jacks = 11, Queens = 12, Kings = 13
You may use only the 4 basic mathematical operations to reach 24: addition, subtraction, multiplication & division
Cards cannot be used twice
Mathematical operation has to be valid (no dividing by zero,