Rules:
Two players (you and either a CPU or another player) are randomly dealt the same 4 cards
You (the player) try to make the number 24 by combining the numbers of the cards you received. All cards must be used
You compete against the computer to see who makes 24 faster, think fast!
If it is impossible to make 24, the cards are reinserted into the deck, shuffled, and redrawn
If it is impossible to make 24 with the last 4 cards of the deck, the game ends and whoever has more points at the time wins
Special numbers: Ace = 1, Jacks = 11, Queens = 12, Kings = 13
You may use only the 4 basic mathematical operations: addition, subtraction, multiplication & division
Cards can only be combined once
Mathematical operation has to be valid (no dividing by zero, etc.)
If you make 24 quicker than the computer, you receive a point, and vice versa
Since there are 13 rounds, one player will always have more points than the other at the end of the game